
@model WordWorldWebApp.Models.PlayerCreateModel 

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer viewLocalizer
@inject WordWorldWebApp.Services.BoardProvider BoardProvider

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>

    <title>WordWorld</title>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">

    <script src="@Url.Content("~/js/wordworld/gameStarter.js")"></script>

</head>
<body>
    <div>
        <form asp-controller="Home" asp-action="Play" method="post">
            <div class="username-prompt">

                @if (!ViewData.ModelState.IsValid)
                {
                    @foreach (var error in ViewData.ModelState.SelectMany(entry => entry.Value.Errors))
                    {
                        <div class="validation-error">@error.ErrorMessage</div>
                    }
                }
                <label>@viewLocalizer["username"]</label>
                <input type="text" name="username" asp-for="@Model.Username" />
                <label>@viewLocalizer["game_board"]</label>
                <select name="board" asp-for="@Model.Board">
                    @foreach (var board in BoardProvider.EnumerateBoards())
                    {
                        <option value="@board">@BoardProvider.DisplayNameOf(board)</option>
                    }
                </select>
                <button type="submit">@viewLocalizer["play_button"]</button>
            </div>
        </form>
    </div>
</body>
</html>
